@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Source+Sans+Pro:ital,wght@0,300;0,700;0,900;1,900&display=swap");
body {
  font-family: "Kanit", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  background: black;
}
